<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bildergalerie</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body id="images-body">
    <h1>Bildergalerie</h1>
    <!-- Container für die dynamischen Canvases -->
    <div id="image-container"></div>

    <script src="/javascripts/canvasScript.js"></script>

    <a href="/">Zurück zur Startseite</a>
</body>

</html>